body {
  background-color: lightcyan;
  padding-left: 5vw;
  padding-bottom: 10vw;
}
.jumbotron {
  background-color: rgb(253, 196, 90);
  margin-right: 10vw;
}
#output {
  font-family: 'Courier New', Courier, monospace;
  font-size: .75cm;
  color: rgb(126, 7, 7);
}

