body {
  background-color: lightcyan;
  padding-left: 5vw;
  padding-bottom: 10vw;
}
.jumbotron {
  background-color: rgb(253, 196, 90);
  margin-right: 10vw;
}
#formOne {
  color: purple;
}
.form-group {
  color:  rgb(98, 163, 0);
}
h2 {
  color: rgb(28, 121, 121);
}
img {
  border-radius: 20px;
}
span {
  color: rgb(98, 163, 0);
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 rgb(253, 196, 90), 
    0 2px 0 grey, 
    0 3px 0 #bbb, 
    0 4px 0 rgb(253, 196, 90),
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

span {
  text-align: center;
}
#output {
  font-family: 'Courier New', Courier, monospace;
  font-size: .75cm;
  color: rgb(126, 7, 7);
}

